<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <packageSources>
    <!-- Get packages from rtp-nexus -->
    <add key="rtp-nexus" value="https://rtp-nexus.defence-elec.de/repository/nuget.org-proxy/index.json" protocolVersion="3" />
    <add key="rtp-hosted" value="https://rtp-nexus.defence-elec.de/repository/nuget-hosted/" protocolVersion="2" />
  </packageSources>
</configuration>

